@font-face {
  font-family: "Nina";
  src: url('assets/fonts/nina/nina.ttf') format('truetype');
}

@font-face {
  font-family: "NinaBold";
  src: url('assets/fonts/nina/ninab.ttf') format('truetype');
}